<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Tableau de bord', user_path(@user) %> | 
    <%= link_to 'Adresses', user_addresses_path(@user) %> | 
    <%= link_to 'Details du compte', '#' %> | 
    <%= link_to 'Commandes', '#' %> | 
    <%= link_to 'Deconnexion', logout_path, method: :delete %>
  </div>
</div>

<%= yield %>