<div class='container'>
  <h1 class='text-center'>Mon compte</h1>

  

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>Bonjour <%= "#{@user.name}" %>(vous n'etes pas <%= @user.name %> ? <%= link_to 'Deconnexion', logout_path, method: :delete %>). Depuis le tableau de bord de la section de mon compte, vous pouvez voir commandes recentes, gerer vos adresses de livraisons et de facturation et <%= link_to 'éditer vos détails et votre mot de passe', '#' %>.</p>
      <ul>
        <li><%= link_to 'Tableau de bord', '#' %></li>
        <li><%= link_to 'Abonnements', '#' %></li>
        <li><%= link_to 'Adresses', user_addresses_path(@user) %></li>
        <li><%= link_to 'Details du compte', '#' %></li>
        <li><%= link_to 'Commandes', '#' %></li>
        <li><%= link_to 'Telechargements', '#' %></li>
        <li><%= link_to 'Moyens de paiement', '#' %></li>
        <li><%= link_to 'Deconnexion', logout_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</div>

