<h1 class='text-center'>Mon compte</h1>

<p>Bonjour <%= "#{@user.name}" %>(vous n'etes pas <%= @user.name %> ? <%= link_to 'Deconnexion', logout_path, method: :delete %>). Depuis le tableau de bord de la section de mon compte, vous pouvez voir commandes recentes, gerer vos adresses de livraisons et de facturation et <%= link_to 'éditer vos détails et votre mot de passe', '#' %>.</p>

<%= render layout: 'users/layout' do %>
  <h2>Commandes récentes</h2>
  <%= render partial: 'users/orders/orders' %>

  <%= render partial: 'users/addresses/addresses' %>
<% end %>