<div class='container'>
	<h1 class='text-center'>Edit <%= @product.name %></h1>

	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
	  	<%= form_for @product, url: admin_product_path(@product), method: :put, html: { multipart: true } do |f| %>
	  		<%= f.label :name %>
	  		<%= f.text_field :name, class: 'form-control' %><br>

	  		<%= f.label :price %>
	  		<%= f.number_field :price, min: 0, class: 'form-control' %><br>

	  		<%= f.label :description %>
	  		<%= f.text_area :description, class: 'form-control' %><br>

	  		<%= f.submit 'Modifier', class: 'form-control' %>
	  	<% end %>
	  </div>
	</div>
</div>
