<nav class="navbar navbar-default navbar-static-top">
  <div class="container text-center">
		<%= link_to 'Nos produits', products_path %>
		<%= link_to 'Melangez', '#' %>
		<%= link_to 'Evenements', '#' %>
		<%= link_to 'Journal', '#' %>
		<% if current_user %>
			<%= link_to 'Mon compte', user_path(current_user) %>
			<%= link_to 'Admin', admin_dashboard_path %>
			<%= link_to "Panier(#{current_order.order_items.count})", '#' %>
		<% else %>
			<%= link_to 'Login', my_account_path %>
		<% end %>
  </div>
</nav>
